.idea
.iml

elixir/_build
elixir/.elixir_ls
elixir/cover
elixir/deps
elixir/doc
elixir/.fetch
elixir/erl_crash.dump
elixir/*.ez

java-mvn-junit5/target
java-mvn-junit5/.classpath
java-mvn-junit5/.settings
java-mvn-junit5/bin

kotlin-mvn-junit/target
kotlin-mvn-junit/.classpath
kotlin-mvn-junit/.settings
kotlin-mvn-junit/bin

javascript-npm-jest/npm-debug.log*
javascript-npm-jest/node_modules
javascript-npm-jest/.vscode
javascript-npm-jest/coverage

python-pytest/__pycache__
python-unittest/__pycache__





